# Archivos de Visual Studio 
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Carpetas de compilación y librerías generadas localmente
x64/
x86/
vcpkg_installed/
bin/
obj/
*.db
*.opensdf
*.sdf

# Ejecutables 
*.exe
*.out
*.o

# Sistema operativo
.DS_Store
Thumbs.db